*{
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
    background-color: black;
}

.nav-list {
    display: flex;
}
#profile{
    height: 50px;
    width: 50px;
    border-radius:50%;
    margin: 10px;
}
#profile:hover{
    cursor: pointer;
}

.nav-list div {
    padding-left: 20px;
    padding-top:25px;
    
}

.nav-list div a {
     text-decoration: none;
     border: 1px solid white;
     border: none;
     border-radius: 50px;
     padding: 12px;
     box-shadow:  rgb(201, 198, 198) 0px 1px 2px;
     color: white;
     transition: all 0.5s ease-out;
}

.nav-list div a:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.rightNav{
    margin-left: 210px;
    margin-top: 13px;
    
    
}
.search{
    height: 35px;
    width: 190px;
    border: none;
    border-radius: 30px;
    padding: 3px;
    padding-left: 7px;
    font-size: 20px;

    
}
.button{
    text-decoration: none;
     border: 1px solid white;
     border: none;
     border-radius: 50px;
     padding: 14px;
     box-shadow:  rgb(201, 198, 198) 0px 1px 2px;
     color: white;
     background-color: black;
     margin-left: 15px;
     transition: all 0.5s ease-out;
}

.button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#background-image{
    background-image: url(/691b8fe9f273e4342c90247373ebc2d9.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
}
#name{
    padding-bottom: 50px;
    height: 400px; 
}

.box-main{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    height: 75%;
    padding-top: 70px;
    margin-left: 50px;
    
}

.text-big{
    font-size: 50px;
    text-align: left;
    text-decoration: underline;
    padding-bottom: 15px;
}

.text-small{
    font-size: 20px;
}
#name2{
    margin-top: 20px;
    height: 300px;   
}
.nextslide{
    margin-left: 80px;
    color: white;
}
.start{
    font-size: 50px;
    margin-bottom: 15px;
}

.a{
    font-size: 20px;
}
li{
    margin-bottom: 10px;
}

#name3{
    height: 300px; 

    
}
.nextslide1{
    margin-left: 80px;
    color: white;
}
.start{
    font-size: 50px;
    margin-bottom: 15px;
}

.a{
    font-size: 20px;
}
li{
    margin-bottom: 10px;
}
#name4{
    height: 400px; 
    
}
.nextslide2{
    margin-left: 80px;
    color: white;
}
.start{
    font-size: 50px;
    margin-bottom: 15px;
}

.a{
    font-size: 20px;
}
li{
    margin-bottom: 10px;
}