*{
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
    background-color: black;
}

.nav-list {
    display: flex;
}
#profile{
    height: 50px;
    width: 50px;
    border-radius:50%;
    margin: 10px;
}
#profile:hover{
    cursor: pointer;
}

.nav-list div {
    padding-left: 20px;
    padding-top:25px;
    
}

.nav-list div a {
     text-decoration: none;
     border: 1px solid white;
     border: none;
     border-radius: 50px;
     padding: 12px;
     box-shadow:  rgb(201, 198, 198) 0px 1px 2px;
     color: white;
}

.nav-list div a:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.rightNav{
    margin-left: 500px;
    margin-top: 13px;
    
    
}
.search{
    height: 35px;
    width: 190px;
    border: none;
    border-radius: 30px;
    padding: 3px;
    padding-left: 7px;
    font-size: 20px;

    
}
.button{
    text-decoration: none;
     border: 1px solid white;
     border: none;
     border-radius: 50px;
     padding: 14px;
     box-shadow:  rgb(201, 198, 198) 0px 1px 2px;
     color: white;
     background-color: black;
     margin-left: 15px;
}

.button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#center{
    margin-left: 50px;
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px;
    width: 700px;
    box-shadow:  rgb(201, 198, 198) 0px 1px 20px;
    border: none;

}

#Contact{
    font-size: 50px;
    font-weight: bold;
}

#find{
    font-weight: bolder;
    padding-top: 30px;
}

#type{
    height: 20px;
    width: 600px;
    padding: 5px;
    margin-top: 10px;    
    border:1px solid rgb(187, 187, 187);
    border-radius: 4px;
}

#links{
    font-weight: bold;
    margin-top: 25px;
}
.line{
    color: black;
}

hr{
    margin-bottom: 10px;
    margin-top: 10px;
}

select{
    margin-top: 50px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;   
    padding-right: 10px;
    opacity:0.6; 
    background-color: white;
    margin-left: 50px;
}

select:hover{
    opacity: 100%;
}

option{
    color: black;
    font-weight: bold;
}


footer{
    background-image: linear-gradient(red,black);
    height: 100px;
    margin-top: 50px;
    
}